samples/wsdl/test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        targetNamespace="http://www.hp.com/go/coffei"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:apachesoap="http://xml.apache.org/xml-soap"
        xmlns:impl="http://www.hp.com/go/coffei"
        xmlns:intf="http://www.hp.com/go/coffei"
        xmlns:tns1="http://exception.sc.coffei.hp.com"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->
    <wsdl:types>
        <schema elementFormDefault="qualified" targetNamespace="http://www.hp.com/go/coffei"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://exception.sc.coffei.hp.com"/>
            <element name="allocatePatternForForm">
                <complexType>

                    <choice>
                        <element name="in71" type="xsd:string"/>
                        <element name="in78" type="xsd:string"/>
                        <element name="in79" type="xsd:string"/>
                    </choice>
                    <all>
                        <element name="in71" type="xsd:string"/>
                        <element name="in78" type="xsd:string"/>
                        <element name="in79" type="xsd:string"/>
                    </all>

                    <sequence>
                        <element name="in9011" type="xsd:base64Binary"/>
                        <element name="in1" type="xsd:string"/>
                        <element name="in2" type="xsd:string"/>
                        <element name="in3" type="xsd:int"/>
                        <element name="in4" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="allocatePatternForFormResponse">
                <complexType>
                    <sequence>
                        <element name="allocatePatternForFormReturn" type="impl:CoffeiPatterns"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="PatternAttribute">
                <sequence>
                    <element name="ValueAsString" nillable="true" type="xsd:string"/>
                    <element name="ValueAsByteStream" nillable="true" type="xsd:base64Binary"/>
                </sequence>
                <attribute name="name" type="xsd:string"/>
            </complexType>
            <complexType name="ArrayOfPatternAttribute">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:PatternAttribute"/>
                </sequence>
            </complexType>
            <complexType name="CoffeiPattern">
                <sequence>
                    <element name="PatternType" nillable="true" type="xsd:string"/>
                    <element name="PatternId" nillable="true" type="xsd:string"/>
                    <element name="PatternAttributes" nillable="true" type="impl:ArrayOfPatternAttribute"/>
                </sequence>
            </complexType>
            <complexType name="ArrayOfCoffeiPattern">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:CoffeiPattern"/>
                </sequence>
            </complexType>
            <complexType name="CoffeiPatterns">
                <sequence>
                    <element name="CoffeiPatternsArray" nillable="true" type="impl:ArrayOfCoffeiPattern"/>
                </sequence>
            </complexType>
            <element name="fault" type="tns1:CoffeiException"/>
            <element name="allocatePattern">
                <complexType>
                    <sequence>
                        <element name="in0" type="xsd:base64Binary"/>
                        <element name="in1" type="xsd:string"/>
                        <element name="in2" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>
            <element name="allocatePatternResponse">
                <complexType>
                    <sequence>
                        <element name="allocatePatternReturn" type="impl:CoffeiPatterns"/>
                    </sequence>
                </complexType>
            </element>
            <element name="associatePatternToForm">
                <complexType>
                    <sequence>
                        <element name="in0" type="xsd:base64Binary"/>
                        <element name="in1" type="xsd:string"/>
                        <element name="in2" type="xsd:string"/>
                        <element maxOccurs="unbounded" name="in3" type="xsd:string"/>
                        <element name="in4" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="associatePatternToFormResponse">
                <complexType>
                    <sequence>
                        <element name="associatePatternToFormReturn" type="impl:CoffeiPatterns"/>
                    </sequence>
                </complexType>
            </element>
            <element name="freePattern">
                <complexType>
                    <sequence>
                        <element name="in0" type="xsd:base64Binary"/>
                        <element name="in1" type="xsd:string"/>
                        <element name="in2" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="freePatternResponse">
                <complexType/>
            </element>
            <element name="blockPattern">
                <complexType>
                    <sequence>
                        <element name="in0" type="xsd:base64Binary"/>
                        <element name="in1" type="xsd:string"/>
                        <element name="in2" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="blockPatternResponse">
                <complexType/>
            </element>
            <element name="releasePattern">
                <complexType>
                    <sequence>
                        <element name="in0" type="xsd:base64Binary"/>
                        <element name="in1" type="xsd:string"/>
                        <element name="in2" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="releasePatternResponse">
                <complexType/>
            </element>
            <element name="getBlockedPatterns">
                <complexType>
                    <sequence>
                        <element name="in0" type="xsd:base64Binary"/>
                        <element name="in1" type="xsd:string"/>
                        <element name="in2" type="xsd:string"/>
                        <element name="in3" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getBlockedPatternsResponse">
                <complexType>
                    <sequence>
                        <element name="getBlockedPatternsReturn" type="impl:CoffeiPatterns"/>
                    </sequence>
                </complexType>
            </element>
            <element name="reallocatePattern">
                <complexType>
                    <sequence>
                        <element name="in0" type="xsd:base64Binary"/>
                        <element name="in1" type="xsd:string"/>
                        <element name="in2" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="reallocatePatternResponse">
                <complexType>
                    <sequence>
                        <element name="reallocatePatternReturn" type="impl:CoffeiPattern"/>
                    </sequence>
                </complexType>
            </element>
            <element name="setPatternReuseDelay">
                <complexType>
                    <sequence>
                        <element name="in0" type="xsd:base64Binary"/>
                        <element name="in1" type="xsd:string"/>
                        <element name="in2" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>
            <element name="setPatternReuseDelayResponse">
                <complexType/>
            </element>
            <element name="getPatternReuseDelay">
                <complexType>
                    <sequence>
                        <element name="in0" type="xsd:base64Binary"/>
                        <element name="in1" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getPatternReuseDelayResponse">
                <complexType>
                    <sequence>
                        <element name="getPatternReuseDelayReturn" type="xsd:int"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getDynamicPatternReport">
                <complexType>
                    <sequence>
                        <element name="in0" type="xsd:base64Binary"/>
                        <element name="in1" type="xsd:string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="getDynamicPatternReportResponse">
                <complexType>
                    <sequence>
                        <element name="getDynamicPatternReportReturn" type="impl:PatternUseageReport"/>
                    </sequence>
                </complexType>
            </element>
            <complexType name="PatternUseageReport">
                <sequence>
                    <element name="no_of_freePatterns" type="xsd:int"/>
                    <element name="no_of_allocatedPatterns" type="xsd:int"/>
                    <element name="no_of_releasedPatterns" type="xsd:int"/>
                </sequence>
            </complexType>
        </schema>
        <schema elementFormDefault="qualified"
                targetNamespace="http://exception.sc.coffei.hp.com" xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.hp.com/go/coffei"/>
            <complexType name="CoffeiException">
                <sequence>
                    <element name="errorCode" type="xsd:int"/>
                    <element name="errorCodeSet" type="xsd:boolean"/>
                    <element name="errorMsg" type="xsd:string"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>

    <wsdl:message name="blockPatternResponse">

        <wsdl:part element="impl:blockPatternResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="getDynamicPatternReportResponse">

        <wsdl:part element="impl:getDynamicPatternReportResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="getBlockedPatternsRequest">

        <wsdl:part element="impl:getBlockedPatterns" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="releasePatternRequest">

        <wsdl:part element="impl:releasePattern" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="getDynamicPatternReportRequest">

        <wsdl:part element="impl:getDynamicPatternReport" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="freePatternResponse">

        <wsdl:part element="impl:freePatternResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="getPatternReuseDelayResponse">

        <wsdl:part element="impl:getPatternReuseDelayResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="freePatternRequest">

        <wsdl:part element="impl:freePattern" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="releasePatternResponse">

        <wsdl:part element="impl:releasePatternResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="reallocatePatternRequest">

        <wsdl:part element="impl:reallocatePattern" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="allocatePatternRequest">

        <wsdl:part element="impl:allocatePattern" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="getBlockedPatternsResponse">

        <wsdl:part element="impl:getBlockedPatternsResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="allocatePatternForFormRequest">

        <wsdl:part element="impl:allocatePatternForForm" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="allocatePatternForFormResponse">

        <wsdl:part element="impl:allocatePatternForFormResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="blockPatternRequest">

        <wsdl:part element="impl:blockPattern" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="setPatternReuseDelayResponse">

        <wsdl:part element="impl:setPatternReuseDelayResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="allocatePatternResponse">

        <wsdl:part element="impl:allocatePatternResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="reallocatePatternResponse">

        <wsdl:part element="impl:reallocatePatternResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="associatePatternToFormRequest">

        <wsdl:part element="impl:associatePatternToForm" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="getPatternReuseDelayRequest">

        <wsdl:part element="impl:getPatternReuseDelay" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="CoffeiException">

        <wsdl:part element="impl:fault" name="fault"/>

    </wsdl:message>

    <wsdl:message name="setPatternReuseDelayRequest">

        <wsdl:part element="impl:setPatternReuseDelay" name="parameters"/>

    </wsdl:message>

    <wsdl:message name="associatePatternToFormResponse">

        <wsdl:part element="impl:associatePatternToFormResponse" name="parameters"/>

    </wsdl:message>

    <wsdl:portType name="PatternManagement">

        <wsdl:operation name="allocatePatternForForm">

            <wsdl:input message="impl:allocatePatternForFormRequest" name="allocatePatternForFormRequest"/>

            <wsdl:output message="impl:allocatePatternForFormResponse" name="allocatePatternForFormResponse"/>

            <wsdl:fault message="impl:CoffeiException" name="CoffeiException"/>

        </wsdl:operation>

        <wsdl:operation name="allocatePattern">

            <wsdl:input message="impl:allocatePatternRequest" name="allocatePatternRequest"/>

            <wsdl:output message="impl:allocatePatternResponse" name="allocatePatternResponse"/>

            <wsdl:fault message="impl:CoffeiException" name="CoffeiException"/>

        </wsdl:operation>

        <wsdl:operation name="associatePatternToForm">

            <wsdl:input message="impl:associatePatternToFormRequest" name="associatePatternToFormRequest"/>

            <wsdl:output message="impl:associatePatternToFormResponse" name="associatePatternToFormResponse"/>

            <wsdl:fault message="impl:CoffeiException" name="CoffeiException"/>

        </wsdl:operation>

        <wsdl:operation name="freePattern">

            <wsdl:input message="impl:freePatternRequest" name="freePatternRequest"/>

            <wsdl:output message="impl:freePatternResponse" name="freePatternResponse"/>

            <wsdl:fault message="impl:CoffeiException" name="CoffeiException"/>

        </wsdl:operation>

        <wsdl:operation name="blockPattern">

            <wsdl:input message="impl:blockPatternRequest" name="blockPatternRequest"/>

            <wsdl:output message="impl:blockPatternResponse" name="blockPatternResponse"/>

            <wsdl:fault message="impl:CoffeiException" name="CoffeiException"/>

        </wsdl:operation>

        <wsdl:operation name="releasePattern">

            <wsdl:input message="impl:releasePatternRequest" name="releasePatternRequest"/>

            <wsdl:output message="impl:releasePatternResponse" name="releasePatternResponse"/>

            <wsdl:fault message="impl:CoffeiException" name="CoffeiException"/>

        </wsdl:operation>

        <wsdl:operation name="getBlockedPatterns">

            <wsdl:input message="impl:getBlockedPatternsRequest" name="getBlockedPatternsRequest"/>

            <wsdl:output message="impl:getBlockedPatternsResponse" name="getBlockedPatternsResponse"/>

            <wsdl:fault message="impl:CoffeiException" name="CoffeiException"/>

        </wsdl:operation>

        <wsdl:operation name="reallocatePattern">

            <wsdl:input message="impl:reallocatePatternRequest" name="reallocatePatternRequest"/>

            <wsdl:output message="impl:reallocatePatternResponse" name="reallocatePatternResponse"/>

            <wsdl:fault message="impl:CoffeiException" name="CoffeiException"/>

        </wsdl:operation>

        <wsdl:operation name="setPatternReuseDelay">

            <wsdl:input message="impl:setPatternReuseDelayRequest" name="setPatternReuseDelayRequest"/>

            <wsdl:output message="impl:setPatternReuseDelayResponse" name="setPatternReuseDelayResponse"/>

            <wsdl:fault message="impl:CoffeiException" name="CoffeiException"/>

        </wsdl:operation>

        <wsdl:operation name="getPatternReuseDelay">

            <wsdl:input message="impl:getPatternReuseDelayRequest" name="getPatternReuseDelayRequest"/>

            <wsdl:output message="impl:getPatternReuseDelayResponse" name="getPatternReuseDelayResponse"/>

            <wsdl:fault message="impl:CoffeiException" name="CoffeiException"/>

        </wsdl:operation>

        <wsdl:operation name="getDynamicPatternReport">

            <wsdl:input message="impl:getDynamicPatternReportRequest" name="getDynamicPatternReportRequest"/>

            <wsdl:output message="impl:getDynamicPatternReportResponse" name="getDynamicPatternReportResponse"/>

            <wsdl:fault message="impl:CoffeiException" name="CoffeiException"/>

        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="CoffeiPatternAllocationSoapBinding" type="impl:PatternManagement">

        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="allocatePatternForForm">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="allocatePatternForFormRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="allocatePatternForFormResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

            <wsdl:fault name="CoffeiException">

                <wsdlsoap:fault name="CoffeiException" use="literal"/>

            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="allocatePattern">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="allocatePatternRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="allocatePatternResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

            <wsdl:fault name="CoffeiException">

                <wsdlsoap:fault name="CoffeiException" use="literal"/>

            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="associatePatternToForm">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="associatePatternToFormRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="associatePatternToFormResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

            <wsdl:fault name="CoffeiException">

                <wsdlsoap:fault name="CoffeiException" use="literal"/>

            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="freePattern">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="freePatternRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="freePatternResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

            <wsdl:fault name="CoffeiException">

                <wsdlsoap:fault name="CoffeiException" use="literal"/>

            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="blockPattern">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="blockPatternRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="blockPatternResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

            <wsdl:fault name="CoffeiException">

                <wsdlsoap:fault name="CoffeiException" use="literal"/>

            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="releasePattern">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="releasePatternRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="releasePatternResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

            <wsdl:fault name="CoffeiException">

                <wsdlsoap:fault name="CoffeiException" use="literal"/>

            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="getBlockedPatterns">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="getBlockedPatternsRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="getBlockedPatternsResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

            <wsdl:fault name="CoffeiException">

                <wsdlsoap:fault name="CoffeiException" use="literal"/>

            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="reallocatePattern">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="reallocatePatternRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="reallocatePatternResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

            <wsdl:fault name="CoffeiException">

                <wsdlsoap:fault name="CoffeiException" use="literal"/>

            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="setPatternReuseDelay">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="setPatternReuseDelayRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="setPatternReuseDelayResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

            <wsdl:fault name="CoffeiException">

                <wsdlsoap:fault name="CoffeiException" use="literal"/>

            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="getPatternReuseDelay">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="getPatternReuseDelayRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="getPatternReuseDelayResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

            <wsdl:fault name="CoffeiException">

                <wsdlsoap:fault name="CoffeiException" use="literal"/>

            </wsdl:fault>

        </wsdl:operation>

        <wsdl:operation name="getDynamicPatternReport">

            <wsdlsoap:operation soapAction=""/>

            <wsdl:input name="getDynamicPatternReportRequest">

                <wsdlsoap:body use="literal"/>

            </wsdl:input>

            <wsdl:output name="getDynamicPatternReportResponse">

                <wsdlsoap:body use="literal"/>

            </wsdl:output>

            <wsdl:fault name="CoffeiException">

                <wsdlsoap:fault name="CoffeiException" use="literal"/>

            </wsdl:fault>

        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="PatternManagementService">

        <wsdl:port binding="impl:CoffeiPatternAllocationSoapBinding" name="CoffeiPatternAllocation">

            <wsdlsoap:address location="http://nt-12622:8080/axis/services/CoffeiPatternAllocation"/>

        </wsdl:port>

    </wsdl:service>

</wsdl:definitions>
